# Python Crash Course IDSP 2025 - Lecture 04

Contents:
* Lecture 3 Recap + more details on methods for sets, lists, tuples
* for & while loops
* `dict` data type (dictionaries)


## What we did last time:

* `if-elif-else` conditional statements
* `def`ining our own functions
* new data types: `tuple`, `set`
* methods (=functions that are being called ON objects)

# Kind of a recap: methods for sets

In [1]:
# We can ADD objects
my_set = {1, 2}
my_set.add(35) # THIS CHANGES THE my_set OBJECT!!!
my_set

{1, 2, 35}

In [ ]:
#We can REMOVE objects
my_set = {7,8,9}
my_set.remove(8) # THIS CHANGES THE my_set OBJECT!!!
my_set

In [2]:
# we can "pop" one object from the set... 
# "pop" returns that object AND removes it from the set.
my_set = {1, 2, 3, 4, 5}
my_set.pop() # THIS CHANGES THE my_set OBJECT!!!
my_set

{2, 3, 4, 5}

In [3]:
?set.pop

Signature: set.pop(self, /)
Docstring:
Remove and return an arbitrary set element.

Raises KeyError if the set is empty.
Type:      method_descriptor

In [ ]:
# we can "pop" one object from the set... 
# "pop" returns that object AND removes it from the set.
my_set = {1, 2, 3, 4, 5}
print(my_set) # my_set before popping
popped_object = my_set.pop() 
print("popped out: ", popped_object) # the popped object
print(my_set) # my_set after popping

# Methods in Python - soft intro

With sets, we used:

* `my_set.remove()` to remove an item from the set
* `my_set.add()` to add an item to the set
* `my_set.pop()` to pop an item from the set

`.remove()`, `.add()`, and `.pop()` are **methods** that "belong" to sets.

A method is a function that you can **call on an object**, using the notation

# `object.method()`

# Methods for the data type `tuple`

`.count()`, `.index()`

In [ ]:
my_tuple = (0, 0, 0, 5, 6, 7, "a", "a")
my_tuple.count("a")

In [ ]:
my_tuple = (0, 0, 0, 5, 6, 7, "a", "a")
my_tuple.index("a")

# Methods for the data type `list`

`.append()`, `.remove()`, `.index()`, `count()`, `.reverse()`, `.sort()`, `.pop()`

In [4]:
# .append(object) appends an object to the list (in the last position)
my_list = [1,4,28,9,0,1]
my_list.append(666) # this CHANGES THE LIST OBJECT
my_list

[1, 4, 28, 9, 0, 1, 666]

In [5]:
# .index(object) gives back the index of the FIRST APPEARANCE of the object
my_list = [1,4,28,9,0,1]
my_list.index(1)

0

In [ ]:
# .remove(object) removes THE FIRST APPEARANCE of an object from the list
my_list = [1,4,28,9,0,1]
my_list.remove(1) # this CHANGES THE LIST OBJECT
my_list

In [6]:
# .count(object) counts the number of times the object appears in the list
my_list = [1,4,28,9,0,1]
my_list.count(1)

2

In [7]:
# .reverse reverses the list order 
my_list = [1,2,6,10,19,55]
my_list.reverse() # THIS CHANGES THE LIST OBJECT
my_list

[55, 19, 10, 6, 2, 1]

In [8]:
# .sort() sorts the list
my_list = [1,4,28,9,0,1]
my_list.sort() # THIS CHANGES THE LIST OBJECT
my_list

[0, 1, 1, 4, 9, 28]

In [9]:
my_list = [1,4,28,9,0,1]
popped_element = my_list.pop()
print(popped_element)
print(my_list)

1
[1, 4, 28, 9, 0]

# Try it out yourself!

We defined a list and a set for you. They both contain all characters, including whitespaces, of the string `"All good things come to an end."`

```python
my_list = ['A', 'l', 'l', ' ','g', 'o', 'o', 'd', ' ', 't', 'h', 'i', 'n', 'g', 's', ' ', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'a', 'n', ' ', 'e', 'n', 'd']
my_set = {'A', 'l', 'l', ' ','g', 'o', 'o', 'd', ' ', 't', 'h', 'i', 'n', 'g', 's', ' ', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'a', 'n', ' ', 'e', 'n', 'd'}
```

* What are the `len()`s of `my_list` and of `my_set`? Why are they different?
* What is the index of the first appearance of `o` in `my_list`?
* How many times does the letter `o` appear in the list?
* Why is there no "count" method for the set?
* Can you find a way to check whether the letter `b` is in the set?
* Sort the list alphabetically!
* What is the index of the first appearance of `o` now?

In [10]:
# run this cell to define the variables "my_list" and "my_set"
my_list = ['A', 'l', 'l', ' ','g', 'o', 'o', 'd', ' ', 't', 'h', 'i', 'n', 'g', 's', ' ', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'a', 'n', ' ', 'e', 'n', 'd']
my_set = {'A', 'l', 'l', ' ','g', 'o', 'o', 'd', ' ', 't', 'h', 'i', 'n', 'g', 's', ' ', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'a', 'n', ' ', 'e', 'n', 'd'}

In [11]:
# What are the `len()`s of `my_list` and of `my_set`? Why are they different?
# lengths are different because...
print(len(my_list))
print(len(my_set))
print("length are different because set de-duplicates all items")

30
15
length are different because set de-duplicates all items

In [ ]:
# What is the index of the first appearance of `o` in `my_list`?
my_list.index("o")

In [ ]:
# How many times does the letter `o` appear in the list?
my_list.count("o")

In [ ]:
# why is there no no count method for the set?
# because by definition items are unique so they either appear once, or not at all

In [ ]:
# check whether "b" is in the set or not
"b" in my_set
# or: list(my_set).count("b") -- will give 0 or 1

In [ ]:
# sort alphabetically
my_list.sort() # this changes the list object!
my_list

In [ ]:
# what is the index of the first appearance of "o" now?
my_list.index("o")

***

# `for` loops 🫨

In [ ]:
weekday_list = ["mon", "tue", "wed", "thu", "fri", "sat", "sun"]
print(weekday_list[0])
print(weekday_list[1])
print(weekday_list[2])
print(weekday_list[3])
print(weekday_list[4])
print(weekday_list[5])
print(weekday_list[6])
# argh! is there a way to make this shorter?
# yes of course

In [12]:
# We can "ITERATE" over a list
weekday_list = ["mon", "tue", "wed", "thu", "fri", "sat", "sun"]
for day in weekday_list:
    print(day)
# note the syntax!

mon
tue
wed
thu
fri
sat
sun

In [13]:
# We can "ITERATE" OVER a list
mylist = [1, 2, 3, 4, 5, 6, 7]
for number in mylist:
    print(number)
# note that it doesn't matter what we call the variable!
# the above is equivalent to:
# for x in mylist:
#     print(x)

1
2
3
4
5
6
7

In [14]:
# We can "ITERATE" OVER a list
mylist = [1, 2, 3, 4, 5, 6, 7]
for x in mylist:
    if x < 4:
        print(x**2) # and DO SOMETHING WITH the object

1
4
9

In [15]:
# We can "ITERATE" OVER a list
mylist = [1, 2, 3, 4, 5, 6, 7]
for x in mylist:
    print(x*10) # and DO SOMETHING WITH the object

10
20
30
40
50
60
70

In [17]:
# but we do not NEED to do anything to that object 
for i in [1,2,3,4,5,6,7]:
    print("hello!")
# for i in ["mon", "tue", "wed", "thu", "fri", "sat", "sun"]:
#     print("hello!")
# both of these for loops will "just" print the str "hello!" seven times.

hello!
hello!
hello!
hello!
hello!
hello!
hello!

In [33]:
# if we just need the number of iterations, not the object itself, 
# it is common to use an underscore as a "placeholder":
for _ in [1,2,3,4,5,6,7]:
    print("lolo", _)

lolo 1
lolo 2
lolo 3
lolo 4
lolo 5
lolo 6
lolo 7

In [19]:
# same as with if/else:
# indented lines after "for" are part of the for loop; 
# stop indenting to return to the main block of code:

for i in [0,1,2,3]:
    print(i)
    print("still in the for loop")

print("now we have exited the for-loop above")

0
still in the for loop
1
still in the for loop
2
still in the for loop
3
still in the for loop
now we have exited the for-loop above

In [20]:
# is there a more practical way to do this?

for i in [0,1,2,3,4,5,6,7,8,9,10]:
    print(i)

# spoiler: YES. it's called "range"

0
1
2
3
4
5
6
7
8
9
10

In [23]:
# range(integer) creates a RANGE from 0 up to, 
# but NOT INCLUDING that integer
range(10)
# range is its own data type
type(range(10))

range

In [24]:
# range can be ITERATED OVER
for i in range(10):
    print(i)
# note that range(x) includes all integers from 0 up to, but NOT INCLUDING x
# since python starts counting at 0: range(x) will give exactly X iterations.

0
1
2
3
4
5
6
7
8
9

In [34]:
# range() starts at 0 by default; 
# we can tell range to start somewhere else;
for i in range(3,7):
    print(i)

3
4
5
6

In [35]:
# range() counts +1 at each step by default;
# we can tell range to use a different step size:
for i in range(5,125,10):
    print(i)

5
15
25
35
45
55
65
75
85
95
105
115

In [25]:
# we have already tried iterating over (using the for loop)
# for lists, and range objects. we can do the same for strings:
for letter in "Happy birthday":
    print(letter)

H
a
p
p
y

b
i
r
t
h
d
a
y

In [26]:
# we can also iterate over tuples:
for x in (2, 3, 4):
    print(x)

2
3
4

In [28]:
# ... and we can iterate over sets:
for item in {5, 6, 7}:
    print(item)

5
6
7

In [29]:
# what you can NOT iterate over:
for number in 5: # ints, floats, booleans
     print(number) # this throws an error message. 
# those are usually also the objects that have NO LENGTH!
# len(5)

TypeError: 'int' object is not iterable

# Try it out yourself!

* Make a list of your 4 favourite foods (as strings).
* With the help of a for loop, print out "I love XYZ" four times. (replace X by the food item on the list). 
* **Hint:** remember you can use the `+` operator to concatenate (combine) strings.

Your output should look something like this:
```
I love jollof
I love couscous
I love pelmeni
I love pilav
```

In [36]:
# make a list of four favourite foods
foods = ["jollof", "couscous", "pelmeni", "pilav"]

for food in foods:
    print("I love " + food)

# make a for loop and print out the food at each step

I love jollof
I love couscous
I love pelmeni
I love pilav

## for-loops "leak":

The current value of the loop variable will "leak" (become available) once the for-loop ends.

In [30]:
for x in ["a", "b", "c", "d"]:
    print("in for-loop:", x) 

# the last value of x has "LEAKED":
print("after for-loop:", x)

in for-loop: a
in for-loop: b
in for-loop: c
in for-loop: d
after for-loop: d

In [31]:
# THE LOOP VARIABLE "LEAKS"
# ... even if it was defined with a different value before!
x = "efghij"
print("before for-loop:", x)

for x in ["a", "b", "c", "d"]:
    print("in for-loop:", x) # just a fancy way of saying "do nothing"
    # x takes on the values "a", "b", "c", "d" at each iteration step

# the last value of loop_var has "LEAKED":
print("after for-loop:", x)

before for-loop: efghij
in for-loop: a
in for-loop: b
in for-loop: c
in for-loop: d
after for-loop: d

## `for` loop syntax in Python

```python
for variable in iterable_object:
    statement
```

**iterable objects (sequences):** `list`; `range`; `str`; `set`; `tuple`

## `for` loop syntax in Python

```python
for variable in iterable_object:
    statement
```

**Quiz:** How many times will the statement be executed (= how many *iterations* does the for loop have) if:
* a. `iterable_object = [1,2]` (a list)
* b. `iterable_object = ("red", "blue", "yellow", "orange", "green")` (a tuple)
* c. `iterable_object = "no justice"` (a string)
* d. `iterable_object = {"no justice", "no peace"}` (a set)
* e. `iterable_object = range(7)` (a range)
* f. `iterable_object = 10` (an int)

In [ ]:
# len()....

***

# `while` loops 😜

In [37]:
# the code after "if" is executed ONCE, IF the condition is True.
x = 5
if x == 5:
    print("hello!")

hello!

In [38]:
# the code after "for" is executed 3 times (len of iterable).
for x in range(5):
    print("hello!")

hello!
hello!
hello!
hello!
hello!

In [ ]:
### DO NOT RUN THIS CELL!!! ###
# how to make our computer work FOREVER: just replace "if" by "while".
# the code after "while" is executed WHILE (AS LONG AS) the condition is True.
# x = 5
# while x == 5:
#     print("i'm stuck in a while loop!")

In [39]:
# how to move on from the while loop?!
# option 1: the condition must change INSIDE the while loop
i = 0
while i < 5: 
    # print("i is: ", i)
    i = i + 1 # at each step, we CHANGE the condition that is evaluated

In [40]:
# how to move on from the while loop?!
# option 1: the condition must change INSIDE the while loop
i = 0
while i < 5: # NOTE THAT to use "i" here, we must FIRST define it!
    print("i is: ", i)
    i = i + 1 # at each step, we CHANGE the condition that is evaluated

i is:  0
i is:  1
i is:  2
i is:  3
i is:  4

In [41]:
# how to stop the while loop?!
# the condition must change *within* the while loop
i = 0
while i < 5:
    print(i, "(i before)") # value of i at the beginning of the iteration step
    i = i + 1 # at each step, we CHANGE the condition that is evaluated
    print(i, "(i after)") # value of i at the end of the iteration step
    print("\n") # print an emtpy line

0 (i before)
1 (i after)


1 (i before)
2 (i after)


2 (i before)
3 (i after)


3 (i before)
4 (i after)


4 (i before)
5 (i after)

In [42]:
# how to stop the while loop?
# while with object as condition;
# while loop will stop once the object is empty 
# (and its boolean value becomes False)
my_set = {1, 2, 3, 4, 5}
while my_set: # boolean value of my_set
    x = my_set.pop() # remove one item from the set at each step
    print(x)

1
2
3
4
5

In [ ]:
# how to stop the while loop?
# option 2: with an "if ...: break" statement
x = 0
while True: # this will go on FOREVER,
    x = x + 1
    print(x)
    if x > 10: # UNLESS this condition is true,
        break # THEN IT WILL STOP

In [43]:
# how to stop the while loop?
# option 2: with an "if ...: break" statement
sheep = 0 # "counting sheep"
asleep = 8 # i need to count 8 sheep to fall asleep
while True:
    sheep = sheep + 1 
    print("sheep number: ", sheep)
    if sheep == asleep:
        print("I'm asleep now!")
        break

sheep number:  1
sheep number:  2
sheep number:  3
sheep number:  4
sheep number:  5
sheep number:  6
sheep number:  7
sheep number:  8
I'm asleep now!

In [44]:
# by the way, this also works to break out of for loops
for i in range(10):
    print(i)
    if i > 3:
         break

0
1
2
3
4

## `while` loop syntax in Python

```python
while condition:
    statement # (which modifies the condition! - otherwise you're stuck 4ever)

### or, slightly more sophisticated

while condition1:
    statement
    if condition2:
        break
```

# Try it out yourself!

### 1. Make a `for` loop that adds together all numbers in a list 

**Hint:** before the `for` loop, define a variable `my_sum` and set it to `0`.

### 2. Make a `while` loop that adds together all integers starting from 0 into the variable `my_sum`, and ends once `my_sum` reaches at least `1000`. 

**Hint:** before the `while` loop, 
* define a variable `i` and set it to `0`; `i`  will increase by `+1` at each iteration step.
* define a variable `my_sum` and set it to `0`; `my_sum` should increase first by `+1`, then by `+2`, then by `+3` ... at each iteration step.

In [48]:
# Try it out yourself: sum all the numbers in a list with a for-loop
my_sum = 0
my_list = [0, 1, 2, 3, 4, 5, 6, 7]
# for loop to add all numbers in a list together
my_sum = 0
my_list = [0, 1, 2, 3, 4, 5, 6, 7]
for x in my_list:
    my_sum = my_sum + x
print(my_sum)
# print(my_sum) # should be 28!

28

In [49]:
# Try it out yourself: sum all integers until you reach 1000 with a while loop

## OPTION 1
my_sum = 0
i = 0
while my_sum < 1000:
    i = i + 1
    my_sum = my_sum + i

print(i, my_sum)

# don't forget to break!

45 1035

In [50]:
## OPTION 2
my_sum = 0
i = 0
while True:
    i += 1
    my_sum += i
    if my_sum >= 1000:
        break

print(i, my_sum)

45 1035

***
# The data type dictionary `dict`

"A collection of key-value pairs, with unique keys"

In [ ]:
# how can we store PAIRS of data?
countries = ["ethiopia", "indonesia", "peru", "czech republic"]
capitals = ["addis ababa", "jakarta", "lima", "prague"]

# pairs of country-capital have the same index:
print(countries[2])
print(capitals[2])
print("the capital of", countries[2],"is", capitals[2])

In [ ]:
# how can we store PAIRS of data?
countries = ["ethiopia", "indonesia", "peru", "czech republic"]
capitals = ["addis ababa", "jakarta", "lima", "prague"]

i = 0 # the items that belong together have the same listindex

print(
    "the capital of", 
    countries[i], 
    "is", 
    capitals[i]
    )

In [52]:
# "there MUST be a better way to do this!"
# enter the data type DICTIONARY: 
# denoted by curly brackets. 
# each ITEM of the dictionary is a key:value pair.
my_dict = {
    "ethiopia": "addis ababa", # key is "ethiopia", the corresponding value is "addis ababa"
    "indonesia": "jakarta",
    "peru": "lima",
    "czech republic": "prague"
} 
my_dict

{'ethiopia': 'addis ababa',
 'indonesia': 'jakarta',
 'peru': 'lima',
 'czech republic': 'prague'}

In [53]:
# check the new data type:
type(my_dict)

dict

In [54]:
# inside the dict, the items are structured by key:value;
# now we can LOOK UP a VALUE by its KEY:
my_dict["ethiopia"]

'addis ababa'

In [ ]:
# inside the dict, the items are structured by key:value;
# now we can LOOK UP a VALUE by its KEY:
my_dict["peru"]

In [55]:
# we can access the keys by the DICT METHOD .keys():
my_dict.keys()

dict_keys(['ethiopia', 'indonesia', 'peru', 'czech republic'])

In [ ]:
# we can access the values by the DICT METHOD .values():
my_dict.values()

In [ ]:
# we can access the ITEMS (key-value pairs) by the DICT METHOD .items():
my_dict.items()

In [56]:
# we can iterate over the keys of a dictionary:
for x in my_dict.keys():
    print(x)

ethiopia
indonesia
peru
czech republic

In [57]:
# we can iterate over the values of a dictionary:
for v in my_dict.values():
    print(v)

addis ababa
jakarta
lima
prague

In [58]:
# we can iterate over the keys of a dictionary:
for key in my_dict.keys():
    print("the dict key is:", key, "; the dict value is:", my_dict[key])

the dict key is: ethiopia ; the dict value is: addis ababa
the dict key is: indonesia ; the dict value is: jakarta
the dict key is: peru ; the dict value is: lima
the dict key is: czech republic ; the dict value is: prague

In [59]:
# we can iterate over the ITEMS (keys AND values) of a dictionary.
# the ITEMS come in pairs of 2 (key, value), so we need 2 for loop variables:
for key, value in my_dict.items():
    print(key)
    print(value)

ethiopia
addis ababa
indonesia
jakarta
peru
lima
czech republic
prague

In [61]:
# we can iterate over the ITEMS (keys AND values) of a dictionary:
for x, y in my_dict.items():
    print("the capital of " + x + " is " + y)

the capital of ethiopia is addis ababa
the capital of indonesia is jakarta
the capital of peru is lima
the capital of czech republic is prague

In [62]:
# COMPARE THIS TO OUR INITIAL ATTEMPT TO STORE THE DATA IN 2 LISTS:

my_dict = {"ethiopia": "addis ababa", "indonesia": "jakarta", "peru": "lima", "czech republic": "prague"} 
for key, value in my_dict.items():
    print("the capital of " + key + " is " + value)

### VERSUS:

countries = ["ethiopia", "indonesia", "peru", "czech republic"]
capitals = ["addis ababa", "jakarta", "lima", "prague"]

for i in range(len(countries)):     
    print("the capital of " + countries[i] + " is " + capitals[i])

the capital of ethiopia is addis ababa
the capital of indonesia is jakarta
the capital of peru is lima
the capital of czech republic is prague
the capital of ethiopia is addis ababa
the capital of indonesia is jakarta
the capital of peru is lima
the capital of czech republic is prague

In [63]:
# Values can be of any type!
# bank movements per weekday
bank_movements = {
    "monday" : [15000, -750, -100],
    "tuesday" : 250,
    "wednesday" : [-200, 300]
}
# bank_movements
#bank_movements["monday"]
bank_movements["tuesday"]

250

In [ ]:
# if we try to use a non-existing key,
# we get an error:
bank_movements["thursday"]

In [64]:
# To add an entry to the dictionary: 
# just assign a value to the new key like so:
bank_movements["thursday"] = "on thursday, nothing happened"
bank_movements

{'monday': [15000, -750, -100],
 'tuesday': 250,
 'wednesday': [-200, 300],
 'thursday': 'on thursday, nothing happened'}

In [65]:
# To update a key-value pair:
bank_movements["tuesday"] = [125, 125] # here we are reassigning a new value to this key
bank_movements

{'monday': [15000, -750, -100],
 'tuesday': [125, 125],
 'wednesday': [-200, 300],
 'thursday': 'on thursday, nothing happened'}

In [66]:
# To update a key-value pair:
bank_movements["monday"] += [30] # here we are updating the list stored as value
bank_movements

{'monday': [15000, -750, -100, 30],
 'tuesday': [125, 125],
 'wednesday': [-200, 300],
 'thursday': 'on thursday, nothing happened'}

In [67]:
# To update a key-value pair:
bank_movements["wednesday"].remove(300)
bank_movements

{'monday': [15000, -750, -100, 30],
 'tuesday': [125, 125],
 'wednesday': [-200],
 'thursday': 'on thursday, nothing happened'}

In [68]:
# To DELETE an entry from the dictionary:
del bank_movements["thursday"]
bank_movements

{'monday': [15000, -750, -100, 30], 'tuesday': [125, 125], 'wednesday': [-200]}

In [69]:
# To test if a key is in the dictionary:
"monday" in bank_movements
# this is short for:
# "monday" in bank_movements.keys()
# print(bank_movements)

True

In [70]:
# To test if a value is in the dictionary:
[-200] in bank_movements.values()

True

In [71]:
# Defining an empty dictionary, option 1:
d = {} 
type(d)

dict

In [72]:
# Defining an empty dictionary, option 2:
d = dict()
type(d)

dict

In [73]:
# Defining a pre-filled dictionary, option 1: spelling it out
my_dict = {
    "ethiopia": "addis ababa",
    "indonesia": "jakarta",
    "peru": "lima",
    "czech republic": "prague"
} 
my_dict

{'ethiopia': 'addis ababa',
 'indonesia': 'jakarta',
 'peru': 'lima',
 'czech republic': 'prague'}

In [74]:
# Defining a pre-filled dictionary, option 2:
# We can also use the dict() function to create a dictionary:
# dict(name1=value1, name2=value2, ...)

my_dict = dict(
    ethiopia = "addis ababa", # key is "ethiopia", the corresponding value is "addis ababa"
    indonesia = "jakarta",
    peru = "lima",
    czech_republic = "prague" 
) 
my_dict

{'ethiopia': 'addis ababa',
 'indonesia': 'jakarta',
 'peru': 'lima',
 'czech_republic': 'prague'}

# Try it out yourself

Create a dictionary `menu` with days of the week as keys, and your dinner menu for that day as value. Then:
* print out all keys of the `menu`
* print out all values of `menu`
* print out what you will eat on Friday
* change your dinner on Saturday to `"dining out!"` 
* delete the key-value pair for Sunday from the dictionary

In [76]:
menu = {
    "monday": "jollof",
    "tuesday": "vegan kebab",
    "wednesday": "lentil soup",
    "thursday": "spaghetti",
    "friday": "stew",
    "saturday": "fruit salad",
    "sunday": "sandwich"
}

In [77]:
menu.keys()

dict_keys(['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'])

In [ ]:
menu.values()

In [78]:
print(menu["friday"])

stew

In [79]:
menu["saturday"] = "dining out!" # this changes the value of the key saturday
menu

{'monday': 'jollof',
 'tuesday': 'vegan kebab',
 'wednesday': 'lentil soup',
 'thursday': 'spaghetti',
 'friday': 'stew',
 'saturday': 'dining out!',
 'sunday': 'sandwich'}

In [ ]:
del menu["sunday"] # this deletes the key-value pair for the key sunday
menu

# Dictionaries in Python

* dictionaries are **collections of key-value pairs** with **unique keys**
* store pairs of data in a **structured** way, by entries of the form `key:value` 
* finding a key/value in a dictionary is **much more efficient** than finding an item in a list
* denoted by curly brackets `{}` or `dict()`
    * {key1:value1, key2:value2, ...}
    * dict(name1=value1, name2=value2, ...)
* rules for dictionary **keys**:
    * *should* be of type `int`, `str` or ` tuple` (more details later)
    * have to be unique (the same way a word can't appear twice in a dictionary)
* rules for dictionary **values** 
    * can be of any type 
    * do not need to be unique (the same way two words (synonyms) can have the same meaning)

# Dictionaries in Python

* use a key to "look up" its value: `mydict[mykey]` returns the value that corresponds to `mykey`
* to add or update a key:value pair: `mydict[mykey]=myvalue`
* to delete a key:value pair: `del(mydict[mykey])`
* to check whether a key is in the dictionary: `mykey in mydict` (short for: `mykey in mydict.keys()`)
* to check whether a value is in the dictionary: `myvalue in mydict.values()`

# Reminder: how to create...

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">AN EMPTY ....</th>
    <th class="tg-0lax">with brackets</th>
    <th class="tg-0lax">with function()</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">list</td>
    <td class="tg-0lax">[]</td>
    <td class="tg-0lax">list()</td>
  </tr>
  <tr>
    <td class="tg-0lax">tuple</td>
    <td class="tg-0lax">()</td>
    <td class="tg-0lax">tuple()</td>
  </tr>
  <tr>
    <td class="tg-0lax">set</td>
    <td class="tg-0lax"></td>
    <td class="tg-0lax">set()</td>
  </tr>
  <tr>
    <td class="tg-0lax">dict</td>
    <td class="tg-0lax">{}</td>
    <td class="tg-0lax">dict()</td>
  </tr>
</tbody>
</table>

# Reminder: how to create...

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">WITH ITEMS</th>
    <th class="tg-0lax">with brackets</th>
    <th class="tg-0lax">with function()</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">list</td>
    <td class="tg-0lax">[1, 2, 3]</td>
    <td class="tg-0lax">list((1,2,3))</td>
  </tr>
  <tr>
    <td class="tg-0lax">tuple</td>
    <td class="tg-0lax">(1, 2, 3)</td>
    <td class="tg-0lax">tuple([1,2,3])</td>
  </tr>
  <tr>
    <td class="tg-0lax">set</td>
    <td class="tg-0lax">{1, 2, 3}</td>
    <td class="tg-0lax">set([1,2,3])</td>
  </tr>
  <tr>
    <td class="tg-0lax">dict</td>
    <td class="tg-0lax">{key1: value1, <br>key2: value2, <br>key3: value3}</td>
    <td class="tg-0lax">dict(key1 = value1, <br>key2 = value2, <br>key3 = value3)</td>
  </tr>
</tbody>
</table>

**Note** that `list(), tuple(), set()` take only ONE argument!

In [ ]:
# list(), tuple(), set(), dict() take only ONE argument!
# e.g. to create a tuple with the items 1, 2, 3:

# mytuple = tuple(1,2,3) # WRONG
# mytuple = tuple( [1,2,3] ) # RIGHT
mytuple = (1,2,3) # ALSO RIGHT
mytuple

**What happens in the code?**

[PLEASE REPLY IN THIS MICROSOFT FORM!](https://forms.cloud.microsoft/e/51X2209smi)

```python
drinks = ["soda", "beer"]
foods = ["pizza", "salad"]

restaurant_order = {
    "soda": 5,
    "beer": 1,
    "pizza": 4,
    "salad": 3,
    "dessert": 5
}

drinks_ordered = 0
foods_ordered = 0

for key, value in restaurant_order.items():
    if key in drinks:
        drinks_ordered += value
    elif key in foods:
        foods_ordered += value
    else:
        pass

print(drinks_ordered)
```

***

# Asking Python to reassure us

```python
assert
```

In [80]:
assert 2 + 2 == 4

In [88]:
assert 2 + 2 == 4

In [87]:
assert 2 + 2 == 4, "You made a calculation mistake"

In [86]:
def add_one(x):
    return x + 1

assert add_one(5) == 6, "add_one function is broken!"

In [84]:
assert add_one(5) == 6, "add_one function is broken!"

# Asking Python to reassure us

```python
assert expected_condition
```

```python
assert expected_condition, "message shown otherwise"
```